body {
    /* margin: 0 10% auto;  */
    background:#78B087; 
    align-content: center;
}

#ball-canvas {
    margin: -3% 10% auto; 
    background:#78B087; 
    border-color: gray; 
    /* position: absolute; */
 }

h1 {
    margin: 0 10% auto;
    justify-content: center;
    font-family: 'Acme', sans-serif;;
    color: rgba(60, 60, 60, 1);
}

button {
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
}

button#newGame {
    display: inline-block;
    background: rgb(107, 182, 226);
    border-color: rgb(10, 78, 117);
}

button#pause {
    background: rgb(252, 249, 98);
    border-color: rgb(68, 67, 1);
}

button.speed {
    background: rgb(110, 224, 100);
    border-color: rgb(36, 95, 30);

}

button:hover {
    background-color: cornflowerblue;
    /* font-size: 20px; */
}

#p1 {
    /* position: relative; */
    /* left: 15%; */
    font-size: 10px;
    /* margin-right: 500px; */
    font-family: 'Acme', sans-serif;
    color: rgba(60, 60, 60, 1);
}

#p2 {
    position: relative;
    font-size: 10px;
    left: 86.5%;
    font-family: 'Acme', sans-serif;
    color: rgba(60, 60, 60, 1);
}

section#p1 {
    flex-direction: column;
    align-items: right;
    display: flex;
    margin: 5px;
    /* width: 250px;  */
  }

  section#p2 {
    flex-direction: column;
    align-items: left;
    display: flex;
    margin: 5px;
    /* width: 250px;  */
  }

  main {
    display: flex;
  }
